@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var page = (dynamic)ViewBag.Page;
    var buttonName = "";
    var buttonUrl = "";

}
@functions
{
    private void SetButtonNameAndUrl(dynamic button, out String name, out String url)
    {
        if (button.Length == 0 || button[0] == null || button[1] == null)
        {
            name = String.Empty;
            url = String.Empty;
            return;
        }
        if (button[0].ToString().Contains("/"))
        {
            url = button[0].ToString();
            name = button[1].ToString();
        }
        else
        {
            url = button[1].ToString();
            name = button[0].ToString();
        }
    }

}
@{
    SetButtonNameAndUrl(page.button, out buttonName, out buttonUrl);
}
<style>
    .bg-opacity-black-50:before {
        @(page.hideOverlay ? "background: rgba(0, 0, 0, 0);":"")
    }
</style>
<!--=================================
 video-background -->
<div id="@page.Id">
    <div id="video-background" class="video-content bg-opacity-black-30" style="width: 100%;" data-vide-bg="@(page.HasValue("mp4")?"mp4: "+ Umbraco.Media(page.mp4.ToString()).umbracoFile:""), @(page.HasValue("webM")?" webm: "+ Umbraco.Media(page.webM.ToString()).umbracoFile:"") , @(page.HasValue("ogv")?" ogv: "+ Umbraco.Media(page.ogv.ToString()).umbracoFile:"") ,  @(page.HasValue("thumbnail")?"poster:" + Umbraco.Media(page.thumbnail.ToString()).umbracoFile: "") " data-vide-options="position: 0% 50%">
        @if (!page.hideOverlay)
        {

        <div class="video-bg bg-opacity-black-50 page-section-pt">
            <div class="container">
                <div class="row">
                    <div class="section-title-2 text-center">
                        <h1 class="text-white">@page.title</h1>
                        <div class="title-line-2"></div>
                        <p class="text-white mt-20 mb-30">@page.subTitle</p>
                        <a target="blank" href="@buttonUrl" class="button-border-white">
                            <span>@buttonName</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        }
    </div>
</div>
<!--=================================
 video-background -->
