@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_LayoutLevelOne.cshtml";
    var page = CurrentPage;
    var count = 0;

}
@functions
{



}

@* Kendo styles *@
<link href="~/kendoUI/styles/kendo.common-material.min.css" rel="stylesheet" />
<link href="~/kendoUI/styles/kendo.material.min.css" rel="stylesheet" />
<link href="~/kendoUI/styles/kendo.material.mobile.min.css" rel="stylesheet" />

<style>
    hr {
        margin: 60px 0;
        padding: 0px;
        border-bottom: 1px dashed black;
        border-top: 0px;
    }
</style>
<!--=================================
slider- -->
<section id="animated-slider" class="carousel slide" data-ride="carousel">
    <div class="container multiselect-container col-xs-9">
        <div class="row">
            <div class="col-lg-2"> &nbsp; </div>
            <div class="col-lg-7">
                <select id="multiselect"></select>
            </div>
            <div class="col-lg-1">
                <a id="findJob" class="button button-border-white custom-button-important ">SOG</a>
            </div>
            <div class="col-lg-2"> &nbsp; </div>
        </div>
    </div>
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#animated-slider" data-slide-to="0" class="active"></li>
        <li data-target="#animated-slider" data-slide-to="1"></li>
    </ol>
    <!-- Carousel inner -->
    <div class="carousel-inner">

        @foreach (var imageUrl in page.backgroundImages)
            {

            <div class="item @(count == 0 ? "active" : "")">
                <img class="img-responsive" src="@Umbraco.Media(imageUrl.ToString()).umbracoFile" alt="slider">
            </div>
            count++;
        }

        <!--/ Carousel item end -->
    </div>


</section>


<!--=================================
slider -->
<!--=================================
features -->
<section class="page-section-ptb gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="custom-heading">REKRUTTERING</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div id="grid"></div>
            </div>
            <div class="col-lg-5 pt-10">

                @{
                    count = 0;
                }
                @foreach (var actionBox in page.actionBoxes)
                {
                    <div class="pb-30 pt-30 row">
                        <img class="col-lg-2" src="@Umbraco.Media(actionBox.image.ToString()).umbracoFile" />
                        <a class="col-lg-10 pt-10" style="display: flex;" href="@actionBox.redirectUrl">
                            <span class="custom-heading">@actionBox.title</span>
                            <i style="margin-left: auto" class="fa fa-chevron-right"></i>
                        </a>
                    </div>

                    count++;
                    if (count < page.actionBoxes.Count)
                    {
                        <hr class="custom-hr" />
                    }
                }

            </div>
        </div>
    </div>
</section>
<section class="page-section-ptb blue-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="features-14">
                    <span aria-hidden="true" class="icon-bulb"></span>
                    <h4 class="mb-15 text-white">Powerful template</h4>
                    <p class="text-white">Let success motivate you. Find a picture of what epitomizes success to you and then pull it out when you motivation.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="features-14">
                    <span aria-hidden="true" class="icon-like"></span>
                    <h4 class="mb-15 text-white">Easy to Customize</h4>
                    <p class="text-white">Make a list of your achievements toward your long-term goal and remind yourself that intentions don’t count, only action’s. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="features-14">
                    <span aria-hidden="true" class="icon-user"></span>
                    <h4 class="mb-15 text-white">Great Blog design</h4>
                    <p class="text-white">Use a past defeat as a motivator. Remind yourself you have nowhere to go except up as you have already been at the bottom. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
features -->
<!--=================================
custom content -->

<section class="custom-content-5 page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="section-title-1 text-center">
                    <p>Welcome to the Corps, Truly ideal solutions for your business. Create a website that you are gonna be proud of.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <img class="img-responsive mb-20" src="~/theme/moment-theme/Template/images/about/01.jpg" alt="">
                </div>
                <div class="col-lg-8 col-md-8">
                    <h4>Where Innovation Meets Your Requirements</h4>
                    <p>the Corps is an exclusive multi-purpose 100% responsive template with powerful features. Simple and well-structured coding, high quality and flexible layout, scalable features along with color schemes to create tailor-cut websites. With bootstrap, responsive mega menu and various layouts including incredible blog themes, the Corps offers you unfathomable accessibility to build beautiful and customer-oriented websites. </p>
                    <div class="skills-2 mt-80">
                        <ul class="clearfix">
                            <li>
                                <h5> Adobe Photoshop </h5>
                                <div class="bar_container">
                                    <span class="bar" data-bar='{ "color": "#ddbe86" }'>
                                        <span class="pct">80%</span>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <h5> WordPress </h5>
                                <div class="bar_container">
                                    <span class="bar" data-bar='{ "color": "#ddbe86", "delay": "600" }'>
                                        <span class="pct">90%</span>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <h5> Javascript</h5>
                                <div class="bar_container">
                                    <span class="bar" data-bar='{ "color": "#ddbe86", "delay": "1200" }'>
                                        <span class="pct">60%</span>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
custom content -->
<!--=================================
our-services -->

<section class="our-services page-section-ptb gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="section-title-2 text-center">
                    <h2 class="text-blue">Our Services</h2>
                    <div class="title-line"></div>
                    <p>We provide the best service in the Web World</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="feature-15 text-center">
                        <div class="feature-15-icon">
                            <img src="~/theme/moment-theme/Template/images/icon/01.png" alt="">
                        </div>
                        <div class="feature-15-content">
                            <h4>Creative Ideas</h4>
                            <p>We also know those epic stories, those modern-day legends surrounding the early failures of such supremely successful.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="feature-15 text-center">
                        <div class="feature-15-icon">
                            <img src="~/theme/moment-theme/Template/images/icon/02.png" alt="">
                        </div>
                        <div class="feature-15-content">
                            <h4>Beautiful Blog</h4>
                            <p>We know this in our gut, but what can we do about it? How can we motivate ourselves? One of the most difficult aspects.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="feature-15 text-center">
                        <div class="feature-15-icon">
                            <img src="~/theme/moment-theme/Template/images/icon/03.png" alt="">
                        </div>
                        <div class="feature-15-content">
                            <h4>User Friendly</h4>
                            <p>Positive pleasure-oriented goals are much more powerful motivators than negative fear-based ones. Although each successful.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-30">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="feature-15 text-center">
                        <div class="feature-15-icon">
                            <img src="~/theme/moment-theme/Template/images/icon/04.png" alt="">
                        </div>
                        <div class="feature-15-content">
                            <h4>Super Security</h4>
                            <p>se a past defeat as a motivator. Remind yourself you have nowhere to go except up as you have already been at the bottom.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="feature-15 text-center">
                        <div class="feature-15-icon">
                            <img src="~/theme/moment-theme/Template/images/icon/05.png" alt="">
                        </div>
                        <div class="feature-15-content">
                            <h4>Portfolio Options</h4>
                            <p>Do it today. Remind yourself of someone you know who died suddenly and the fact that there is no guarantee that will come.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="feature-15 text-center">
                        <div class="feature-15-icon">
                            <img src="~/theme/moment-theme/Template/images/icon/06.png" alt="">
                        </div>
                        <div class="feature-15-content">
                            <h4>Modern Design</h4>
                            <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
our-services -->
<!--=================================
 portfolio -->

<section class="portfolio-4 white-bg page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="section-title-2 text-center">
                <h1 class="text-blue">Latest Projects</h1>
                <div class="title-line"></div>
                <p>We provide the best service in the Web World</p>
            </div>
        </div>
        <div class="isotope-filters-3">
            <button data-filter="" class="active">All</button>
            <button data-filter=".photography">photography</button>
            <button data-filter=".illustration">illustration</button>
            <button data-filter=".branding">branding</button>
            <button data-filter=".web-design">web-design</button>
        </div>
        <div class="isotope popup-gallery popup-gallery columns-3">
            <div class="grid-item photography illustration">
                <div class="portfolio-item">
                    <img src="~/theme/moment-theme/Template/images/portfolio/small/17.jpg" alt="">
                    <div class="portfolio-hover">
                        <div class="hover-name">
                            <span> With some description</span>
                            <a href="#">PHOTO ITEM</a>
                        </div>
                        <div class="hover-icon">
                            <a class="portfolio-img" href="~/theme/moment-theme/Template/images/portfolio/small/17.jpg"><i class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item photography">
                <div class="portfolio-item">
                    <img src="~/theme/moment-theme/Template/images/portfolio/small/18.jpg" alt="">
                    <div class="portfolio-hover">
                        <div class="hover-name">
                            <span> With some description</span>
                            <a href="#">PHOTO ITEM</a>
                        </div>
                        <div class="hover-icon">
                            <a class="portfolio-img" href="~/theme/moment-theme/Template/images/portfolio/small/18.jpg"><i class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item photography branding">
                <div class="portfolio-item">
                    <img src="~/theme/moment-theme/Template/images/portfolio/small/19.jpg" alt="">
                    <div class="portfolio-hover">
                        <div class="hover-name">
                            <span> With some description</span>
                            <a href="#">PHOTO ITEM</a>
                        </div>
                        <div class="hover-icon">
                            <a class="portfolio-img" href="~/theme/moment-theme/Template/images/portfolio/small/19.jpg"><i class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item web-design">
                <div class="portfolio-item">
                    <img src="~/theme/moment-theme/Template/images/portfolio/small/20.jpg" alt="">
                    <div class="portfolio-hover">
                        <div class="hover-name">
                            <span> With some description</span>
                            <a href="#">PHOTO ITEM</a>
                        </div>
                        <div class="hover-icon">
                            <a class="portfolio-img" href="~/theme/moment-theme/Template/images/portfolio/small/20.jpg"><i class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item photography illustration">
                <div class="portfolio-item">
                    <img src="~/theme/moment-theme/Template/images/portfolio/small/21.jpg" alt="">
                    <div class="portfolio-hover">
                        <div class="hover-name">
                            <span> With some description</span>
                            <a href="#">PHOTO ITEM</a>
                        </div>
                        <div class="hover-icon">
                            <a class="portfolio-img" href="~/theme/moment-theme/Template/images/portfolio/small/21.jpg"><i class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item photography">
                <div class="portfolio-item">
                    <img src="~/theme/moment-theme/Template/images/portfolio/small/22.jpg" alt="">
                    <div class="portfolio-hover">
                        <div class="hover-name">
                            <span> With some description</span>
                            <a href="#">PHOTO ITEM</a>
                        </div>
                        <div class="hover-icon">
                            <a class="portfolio-img" href="~/theme/moment-theme/Template/images/portfolio/small/22.jpg"><i class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="portfolio-item">
                    <img src="~/theme/moment-theme/Template/images/portfolio/small/23.jpg" alt="">
                    <div class="portfolio-hover">
                        <div class="hover-name">
                            <span> With some description</span>
                            <a href="#">PHOTO ITEM</a>
                        </div>
                        <div class="hover-icon">
                            <a class="portfolio-img" href="~/theme/moment-theme/Template/images/portfolio/small/23.jpg"><i class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item photography branding">
                <div class="portfolio-item">
                    <img src="~/theme/moment-theme/Template/images/portfolio/small/24.jpg" alt="">
                    <div class="portfolio-hover">
                        <div class="hover-name">
                            <span> With some description</span>
                            <a href="#">PHOTO ITEM</a>
                        </div>
                        <div class="hover-icon">
                            <a class="portfolio-img" href="~/theme/moment-theme/Template/images/portfolio/small/24.jpg"><i class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item illustration">
                <div class="portfolio-item">
                    <img src="~/theme/moment-theme/Template/images/portfolio/small/25.jpg" alt="">
                    <div class="portfolio-hover">
                        <div class="hover-name">
                            <span> With some description</span>
                            <a href="#">PHOTO ITEM</a>
                        </div>
                        <div class="hover-icon">
                            <a class="portfolio-img" href="~/theme/moment-theme/Template/images/portfolio/small/25.jpg"><i class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tree-image">
        <img class="9img-responsive wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="3.0s" src="~/theme/moment-theme/Template/images/device/tree.png" alt="">
    </div>
</section>

<!--=================================
 portfolio -->
<!--=================================
custom-content  -->

<section class="custom-content-6 blue-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-offset-0 left-slide">
                <span class="text-white">We are creative</span>
                <h2 class="text-white">We are adding extra value for your business</h2>
                <p class="text-white">With bootstrap, responsive mega menu and various layouts including incredible blog themes, the Corps offers you unfathomable accessibility to build beautiful and customer-oriented websites. </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 pull-right right-slide">
                <img src="~/theme/moment-theme/Template/images/about/13.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<!--=================================
 custom-content  -->
<!--=================================
 team-4 -->

<section class="team-4-main white-bg page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="section-title-2 text-center">
                <h1 class="text-blue">Our team</h1>
                <div class="title-line"></div>
                <p> List of people who matter in our Company</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="team-4 text-center">
                    <div class="team-image">
                        <img class="img-responsive center-block" src="~/theme/moment-theme/Template/images/team/08.jpg" alt="">
                    </div>
                    <div class="team-name">
                        <h5>Felica Queen</h5>
                        <span>web designer</span>
                    </div>
                    <div class="team-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i> </a></li>
                            <li><a href="#"><i class="fa fa-behance"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="team-4 text-center">
                    <div class="team-image">
                        <img class="img-responsive center-block" src="~/theme/moment-theme/Template/images/team/09.jpg" alt="">
                    </div>
                    <div class="team-name">
                        <h5>Sara Lisbon</h5>
                        <span>Developer</span>
                    </div>
                    <div class="team-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i> </a></li>
                            <li><a href="#"><i class="fa fa-behance"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="team-4 text-center">
                    <div class="team-image">
                        <img class="img-responsive center-block" src="~/theme/moment-theme/Template/images/team/10.jpg" alt="">
                    </div>
                    <div class="team-name">
                        <h5>Paul Flavius</h5>
                        <span>Graphic Designer</span>
                    </div>
                    <div class="team-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i> </a></li>
                            <li><a href="#"><i class="fa fa-behance"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="team-4 text-center">
                    <div class="team-image">
                        <img class="img-responsive center-block" src="~/theme/moment-theme/Template/images/team/11.jpg" alt="">
                    </div>
                    <div class="team-name">
                        <h5>Anne Smith</h5>
                        <span>Project Manager</span>
                    </div>
                    <div class="team-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i> </a></li>
                            <li><a href="#"><i class="fa fa-behance"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
 team-4  -->
<!--=================================
custom-content  -->


<section class="custom-content-7 bg-14 page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <h2 class="mb-30">Are You Ready to Succeed? Be ready with us!</h2>
                <p class="mb-30">the Corps offers you unfathomable accessibility to build beautiful and customer-oriented websites. Unique designs, eye-catchy portfolio and innovative website building tools work seamlessly to boost your business online.</p>
                <a class="button button-black" target="_blank" href="http://themeforest.net/item/the-corps-multipurpose-html5-template/15623522"><span> Purchase now </span></a>
            </div>
        </div>
    </div>
</section>


<!--=================================
custom-content -->
<!--=================================
 action-box -->

<section class="action-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <h3 class="text-white">The Corps Unique & Clean HTML5 Multi-Purpose Template</h3>
                <p class="text-white">We are a creative company, who works with passion and love. We provide the best services you need. </p>
            </div>
            <div class="col-lg-4 col-md-4 text-right action-box-button">
                <a href="#" class="button button-white mt-15">
                    <span>More Demo</span>
                    <i class="fa fa-hand-o-right"></i>
                </a>
                <a target="_blank" href="http://themeforest.net/item/the-corps-multipurpose-html5-template/15623522" class="button button-black mt-15">
                    <span>Purchase Now</span>
                    <i class="fa fa-download"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<!--helper js-->

@* Kendo Scripts *@
@*<script src="~/kendoUI/js/kendo.ui.core.min.js"></script>*@
<script src="~/kendoUI/js/kendo.all.min.js"></script>
<script src="~/scripts/Home.Controller.js"></script>



